/*CSS for cgIndex.html*/

/*Classes*/
.splash {
  width: 100%;
  height: calc(100vh - 3.5rem);
  padding: 30vh 25vw 0;
  text-align: center;
}
.background {
  position: absolute;
  left: 0;
  top: 3.5rem;
  height: 100%;
  width: 100%;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(50vh - 1.75rem);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: -1;
}